/*
  px <-> em: http://pxtoem.com/
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  // https://goo.gl/YK3TNB
  // size/line-height | family
  font: 16px/1 'Open Sans', Arial, Helvetica, sans-serif;
}

.code {
  font-family: monospace;
  font-size: 1.4rem;
  border-radius: 8px;
  @extend .bg-black-85;
  @extend .white;
  @extend .pa3;
}

.intro-img {
  @extend .ph2;
  width: 33%;

  img {
    border: 1px solid;
    border-radius: 20px;
  }
}
